<div id="leftColumn" class="left">
 <div class="profileHeading">
 <% if logged_in? and current_user.id == params[:id].to_i %> You follow<% else %><%=h @user.login%> follows <%end%> <%= @following.size %> <%= @following.size == 1 ? 'person' : 'people'%>
 </div>
 <%= render :partial => "/users/user", :collection => @following, :locals => {:hide_following => true}  %>
</div>
<div id="rightColumn" class="right">
 <%= render :partial => '/users/right_column', :locals => {:user => @user}%>
</div>
