<div id="leftColumn" class="left">
 <div class="profileHeading">
 <% if logged_in? and current_user.id == params[:id].to_i %> Your <% else %><%=h @user.login%>'s <%end%> <%= @followers.size %> <%= @followers.size == 1 ? 'follower' : 'followers'%>
 </div>
 <%@followers.each do |u| %>
 <%= render :partial => "/users/user", :locals => {:user => u, :following => (logged_in? and current_user.followees.collect{|f| f.followee_id}.include?(u.id))}%>
 <%end%>
</div>
<div id="rightColumn" class="right">
  <%= render :partial => '/users/right_column', :locals => {:user => @user}%>
</div>
