<div class="headingFont loginSignupBox">
<% @user.password = @user.password_confirmation = nil %>
<div class="errorMessage"><%= error_messages_for :user %></div>
<% form_for :user, :url => users_path do |f| -%>
<div>Login</div>
<%= f.text_field :login, {:class => "loginSignupInputBox"} %>

<div>Name</div>
<%= f.text_field :name, {:class => "loginSignupInputBox"} %>

<div>Email</div>
<%= f.text_field :email, {:class => "loginSignupInputBox"} %>

<div>Password</div>
<%= f.password_field :password, {:class => "loginSignupInputBox"} %>

<div>Confirm password</div>
<%= f.password_field :password_confirmation, {:class => "loginSignupInputBox"} %>

<div><%= submit_tag 'Sign up' %></div>
<% end -%>
</div>
