<div id="leftColumn" class="left">
 <%= render :partial => '/users/search_box'%>
 <%@users.each do |u| %>
 <%= render :partial => "/users/user", :locals => {:user => u, :following => (logged_in? and current_user.followees.collect{|f| f.followee_id}.include?(u.id))}%>
 <%end%>
 <div>
 <% if params[:page] > 0%>
 <a href="<%= search_users_url(:page => (params[:page] - 1),:u_q => params[:u_q])%>">&lt;Prev</a>
 <%end%>
 <% if @users.size == @limit%>
 <a href="<%= search_users_url(:page => (params[:page] + 1),:u_q => params[:u_q])%>">Next&gt;</a>
 <%end%>
 </div>
</div>
<div id="rightColumn" class="right">
 <%= render :partial => "/users/right_column", :locals => {:hide_user_search => true, :user => current_user}%>
</div>
