<script>
</script>
<div class="promoSection headingFont">
  Express everything your heart beats with</em>  
  <form action="<%= signup_url%>" method="get">
    <input type="submit" value="Signup" style="margin-top:5px;" />
  </form>
</div>
<div class="promoSection headingFont left">
  Discover what the world is beating to
  <% form_tag search_beats_url, :method => :get do %>
  <%= text_field_tag 'q','Search beats',{:style => 'color:#777777', :onFocus => "this.value=''"} %><%= submit_tag 'Go'%>
  <% end %>
</div>
<div class="promoSection headingFont right">
  Discover people and follow their beats
  <% form_tag search_users_url, :method => :get do %>
  <%= text_field_tag 'q','Search people',{:style => 'color:#777777;', :onFocus => "this.value=''"} %><%= submit_tag 'Go'%>
  <% end %>
</div>
<div class="clear"></div>
