<% hide_owner ||= false %>
<div id="beat<%= beat.id-%>" class="beatContent" 
     onMouseOver="document.getElementById('beat<%= beat.id-%>links').style.display = '';" 
     onMouseOut ="document.getElementById('beat<%= beat.id-%>links').style.display = 'none';">
 <div><% if !hide_owner %><a href="<%= profile_user_path(beat.user)%>" class="boldLink"><%=h(beat.user.login) %></a> <%end%><%=display_beat_content beat %></div>
 <div class="meta">
 <%= beat.created_at.strftime('%l:%M %p, %b %e')%>
 </div>

 <div id="beat<%= beat.id-%>links"  class="beatLinks right" style="display:none;">
  <% if logged_in? %>
  <% if beat.user_id == current_user.id %>
  <%= link_to_remote 'Delete',
                     :url => beat_url(beat),
                     :method => :delete,
                     :confirm => "Are you sure you want to delete the beat? You can't undo.",
                     :update => "beat#{beat.id}links",
                     :success => "Element.fade('beat#{beat.id}')",
                     :class => "smallLink" %>

  <% else %>
   <a href="<%=home_users_url(:reply_to_beat_id => beat.id, :reply_to => beat.user.login)%>" class="smallLink">Reply</a>
  <% end %>
  <% end %>
 </div>
 <div id="beat<%= beat.id-%>linkinprogress" class="inProgress right beatLinks" style="display:none;">&nbsp;</div>
</div>
