<div id="leftColumn" class="left">
 <%= render :partial => '/beats/search_box'%>
 <%= render :partial => "/beats/beat", :collection => @beats%>
 <div>
 <% if params[:page] > 0%>
 <a href="<%= search_beats_url(:page => (params[:page] - 1),:q => params[:q])%>">&lt;Prev</a>
 <%end%>
 <% if @beats.size == @limit %>
 <a href="<%= search_beats_url(:page => (params[:page] + 1),:q => params[:q])%>">Next&gt;</a>
 <%end%>
 </div>

</div>
<div id="rightColumn" class="right">
 <%= render :partial => "/users/right_column", :locals => {:hide_beat_search => true, :user => current_user}%>
</div>
